.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color:#373A40;
    margin-bottom: 30px;
    color: white;
    overflow: clip;
}

img {
    width: auto;
    height: 70%;
}